body{
  margin:0px;
  padding:0px;
}

table{

  width:15%;
  background-color:#17202A;
  color:white;
  border-radius:5px;
  margin-top: 0px;
}

.hed{
  float: right;
  margin-top: 20px;
}

head{
  clear:both;




}

.hed h {
  font-size: 30px;
  font-weight:bold;

}

.imagi{
  height: 20vh;
  width: 20vh;
  margin-left: 50%;
  margin-top: 10px;
}


th{
  border-bottom:5px solid white;
}
td,th{
  text-align: center;
  font-weight:bold;

}
td{
  border-bottom:2px solid white;
}
td:hover{
  background-color:brown;
}



.contents{

  background-color:#BFC9CA;
  margin-top: 0px;
  color: black;
  border-radius:5px;
  margin-left: 20%;
  text-decoration: none;


}

.imagi2{

  float: right;
  height:80vh;
  width:100vh;
  margin-top: 10%;

}
